.App {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App {
    background-color: rgb(240, 119, 5);
    color: rgb(32, 3, 67);
    font-size: xx-large;
    font-family: monospace;
    font-style: italic;
    font-weight: bolder;
}

.prodictedAge {
    background-color: #e9c646;
    color: rgb(240, 119, 5);
    border: solid 2px rgb(19, 12, 206);
}

p {
    color: black;
    font-size: 24px;
}

.navbar {
    background-color: #12eefd;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
